# FastAPI
fastapi
uvicorn[standard]
python-multipart

# LangChain Core
langchain
langchain-core
langchain-community
langchain-openai
langgraph


#rag-basics
sentence-transformers
chromadb

# Embeddings & LLMs
openai

# Utilities
pydantic
pydantic-settings
python-dotenv
typing
pathlib

