# FastAPI
fastapi
uvicorn[standard]
python-multipart

# LangChain Core
langchain
langchain-core
langchain-community
langchain-openai

#rag-basics
sentence-transformers
scikit-learn
pymilvus
chromadb
bs4

# Embeddings & LLMs
openai

# Utilities
pydantic
pydantic-settings
python-dotenv


